@inherits LayoutComponentBase
@page "/"
<head>
<Navbar/>

</head>


<br />
<div class="container">

    <section class="hero is-link">
        <div class="hero-body">
            <p class="title"> Se você está procurando empregadas internas ou externas , não procure mais! </p>
            <p class="subtitle">

                O recrutamento online é uma prática essencial para as empresas nos dias de hoje. Ele envolve o uso da internet como principal meio de contato com os candidatos durante o processo de seleção. Aqui estão algumas razões pelas quais o recrutamento online é importante: <hr />

                1. **Ampliação do Alcance**: O recrutamento online elimina barreiras geográficas, permitindo que as empresas atraiam talentos de diferentes regiões do país e, em alguns casos, até de outros países¹³. <hr />

                2. **Economia de Recursos**: Ao utilizar plataformas online, as empresas economizam recursos que seriam gastos em anúncios em jornais ou agências terceirizadas. Além disso, a triagem de currículos é mais rápida e eficiente¹. <hr />
                3. **Segmentação Eficiente**: Com o recrutamento online, é possível segmentar o público-alvo de forma mais eficaz, direcionando as oportunidades de emprego para candidatos específicos¹.

                Em resumo, o recrutamento online oferece vantagens significativas, como maior eficiência, alcance global e economia de recursos. É uma estratégia valiosa para as organizações modernas. Espero que essas informações sejam úteis! 😊

            
            
            </p>
        </div>
    </section>

</div>

<br />
<br />

<div class="columns is-centered">

    <div class="column is-one-fifth">
<Galery />
</div>
</div>


@code {


}
